<!DOCTYPE html>
<html>
  <head>
    <title>Baldur's Gate 3</title>
    <link rel="icon" href="/assets/bg3-favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="/assets/styles/bg3.css"></link>
  </head>
  <body>
    <div class="container">
      <header>
        <h1>Baldur's Gate 3</h1>
      </header>
      <section>
        <h2>Honor Runs</h2>
        <ul>
          <li>
            Melee Only
            <ul>
              <li><a href="./melee-honor-run">Rules</a></li>
            </ul>
          </li>
        </ul>
      </section>
    </div>
  </body>
</html>

